/* 全局重置 & 盒模型 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body 基础设置 */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F7F9FC;
  color: #000000;
  overflow-y: overlay;
  letter-spacing: 0.5px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* 超链接默认样式 */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: color 0.2s ease-in-out;
  font-size: 14px;
}

a:hover {
  color: #72bedf;
}

/* 表单元素 */
input,
textarea,
button,
select {
  font: inherit;
  outline: none;
  border: none;
}


input::placeholder,
textarea::placeholder {
  color: #ccc;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* 列表 */
ul,
ol {
  list-style: none;
}

p,
span {
  font-size: 14px;
}

/* 图片 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* 选中文本样式 */
::selection {
  background: #9a9898;
  color: #fff;
}


i {
  font-style: normal;
}


.container {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}